/** CSS Based Theme Customization by overwriting style.css **/

#ds-header-wrapper {
    /*background-color: rgb(109,133,156);*/
    background: #FF8AA7 url(../../images/nida-background.png) repeat-x left top;
    color: white;
    min-width: 950px;
}

#ds-header-logo {
    float:left;
/*
    width: 220px;
    height: 75px;
    background-image: url(../../images/nida-logo.png);
    margin-top: 2px;
*/
    width: 460px;
    height: 67px;
    background-image: url(../../images/nida-header.png);
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 2px;
    margin-right: 15px;
}


#ds-header-logo-text {
    font-size: 300%;
    color: #1F3F5E; 
    line-height: 67px;
    font-weight: normal;
    vertical-align: middle;
    float: left;
}


#ds-user-box a{
    color: white;
}

#ds-trail-wrapper {
/*    background-color: #b6c8d9; */
	background-color : transparent;
    margin: 0;
    padding: 0;
    min-width: 950px;
    margin-bottom: 20px;
	border: 0px;
}

#ds-trail {
    list-style: none;
    line-height: 138.5%;
    padding: 3px 0;
}



#ds-trail li {
    display: inline;
/*   color: #1F3F5E;*/
    margin-right: 5px;
}

#ds-trail a {
/*    color: #1F3F5E; */
}


#ds-footer-wrapper {
    margin-top: 40px;
/*    background-color: #B6C8D9; */
    color: #444;
}

#ds-footer {
    border-top: 1px solid #9CACBA;
    padding-top: 10px;
    font-size: 93%;
    height: 1.6em;
/*    line-height: 1.6em;*/ 
}


body {
/* ackground: #000 url(images/bg.gif) no-repeat top right; */
	background: #FFE4EB url(../../images/nida-background.png) repeat-x left top;
}


h1.ds-option-set-head {
    background-color: #FF8AA7;
	border: 0px;
}

div.ds-option-set {
    border: 0px;
    border-top: none; 
    background-color: #FFEBF0;
}


.ds-artifact-list .ds-artifact-item .artifact-description {
	min-height: 150px;
}

.recent-submission .ds-artifact-list .ds-artifact-item,
#aspect_artifactbrowser_ConfigurableBrowse_div_browse-by-title-results .ds-artifact-list .ds-artifact-item {
	min-height: 155px;
}


div.thumbnail-wrapper{
	width: 105px !important;
}

a.image-link img{
	width: 105px;
	max-height: 150px;
	float: left;
}

ul.alphabet li{
	margin-right: 7px;
	margin-bottom: 7px;
}

div.hylib-thai-browse{
	margin-top: 10px;
}


img.type-icon {
	width: 128px !important;
	height: 128px !important;
	float: left;
}
