#icon_wrapper
{
	margin: auto;
	width: 950px;
	margin-bottom: 5px;
}

/*
#feed-rdf-link
{
	float: left;
}
*/

#lang-switch-form
{
	position: absolute;
	right: 0;
	margin-top: 35px;
}

.addthis_toolbox
{
	margin-left: 5px;
}

#ds-footer
{
	clear: both;
}

.hylib-mediaplayer
{
	text-align: center;
}
