/** CSS Based Theme Customization by overwriting style.css **/

#ds-header-wrapper {
    /*background-color: rgb(109,133,156);*/
    /*background: #FF8AA7 url(../../images/asean-background.png) repeat-x left top;*/
    background: none;
    color: white;
    min-width: 950px;
}

#ds-header-logo {
    float:left;

    width: 950px;
    height: 125px;
    background-image: url(../../images/asean-header.png);
    margin-top: 5px;
/*
    width: 460px;
    height: 67px;
    background-image: url(../../images/nida-header.png);
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 2px;
    margin-right: 15px;
*/
}


#ds-header-logo-text {
    display: none;
}

#ds-user-box {
    display: none;
}

#ds-user-box a{
    color: white;
}

#ds-trail-wrapper {
/*    background-color: #b6c8d9; */
    background-color : transparent;
    margin: 0;
    padding: 0;
    min-width: 675px;
    margin-bottom: 20px;
    border: 0px;
}

#ds-trail {
    width: 675px;
    list-style: none;
    line-height: 138.5%;
    padding: 3px 0;
    font-size: 12px;
}

#ds-trail li {
    display: inline;
    color: #607890; 
    margin-right: 5px;
}

#ds-trail a {
    color: #607890; 
}

#ds-footer-wrapper {
    margin-top: 40px;
/*    background-color: #B6C8D9; */
    color: #444;
}

#ds-footer {
    border-top: 1px solid #9CACBA;
    padding-top: 10px;
    font-size: 93%;
    height: 1.6em;
/*    line-height: 1.6em;*/ 
}

#ds-footer-links {
    display: none;
}

/* Move sidebar to left */
#ds-body {
    float: right;
}

#ds-options-wrapper {
    float: left;
}

body {
    background: url(../../images/asean-background.png) repeat scroll;
}


h1.ds-option-set-head {
    color: bisque;
    background-color: #005DA4;
    border: 0px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 130%;
    margin-top: 10px;
}

div.ds-option-set {
    border: 0px;
    border-top: none; 
    color: whitesmoke;
    background-color: #005DA4;
}

div.ds-option-set a {
    color: whitesmoke;
}

#ds-language-selection,
#ds-user-box a, #ds-language-selection a {
    color: whitesmoke;
}

#ds-language-selection {
    position: initial;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.ds-option-set .ds-sublist-head {
    font-weight: bold;
}

form.search {
    background-color: lightgrey;
}

.ds-artifact-list .ds-artifact-item .artifact-description {
    min-height: 130px;
}

.recent-submission .ds-artifact-list .ds-artifact-item,
#aspect_artifactbrowser_ConfigurableBrowse_div_browse-by-title-results .ds-artifact-list .ds-artifact-item {
    min-height: 155px;
}


div.thumbnail-wrapper{
    width: 130px !important;
}

a.image-link img {
/*    width: 128px;*/
    float: left;
}

ul.alphabet li {
    margin-right: 7px;
    margin-bottom: 7px;
}

div.hylib-thai-browse {
    margin-top: 10px;
}

img.type-icon {
    width: 128px !important;
    height: 128px !important;
    float: left;
}

a, a:active, a:visited {
    color: #607890;
    text-decoration: none;
}

a:hover {
    color:#000036;
    text-decoration: underline;
}

h1 {
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
}

h2, .ds-button-field {
    font-family: 'Droid Sans', sans-serif;
}

h1.ds-div-head {
   font-size: 20px;
}

#lang-switch-form {
   display: none;
}

.artifact-title {
    font-size: 14px;
}

.pagination {
    background-color: #F0F2F5; 
}

/* Make community-list show abstract too */
#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser .short-description, #aspect_discovery_SiteRecentSubmissions_div_site-home .short-description {
    display: inline;
}

/* Metadata table */
table.ds-includeSet-table {
    clear: both;
    border-spacing: 0px;
    border: 1px solid gray;
    width: 95%;
}

table.ds-includeSet-table td {
    width: 40px;
    vertical-align: top;
}

tr.ds-table-row.odd {
    background-color: #F0F2F5; 
}

tr.ds-table-row.even {
    background-color: white;
}

/* Item author */
div.simple-item-view-authors {
    font-size: 15px;
    font-weight: normal;
/*    color: #9E9E9E; */
    border-bottom:1px solid #1F3F5E;
}

.community-table {
    width: 100%;
}

.community-cell {
    text-align: center;
    vertical-align: top;
    width: 50%;
}

.community-cell li {
    display: inline;
}

.artifact-logo {
    margin: 10px;
}

/* Make "browse by" into a single line */
.community-browse li,
.collection-browse li {
    display: inline;
    margin: 4em 10px;
}

#aspect_discovery_CommunitySearch_div_community-search,
#aspect_discovery_CollectionSearch_div_collection-search {
    display: none;
}
